language: ruby
rvm:
- 2.0.0-p481
before_script:
- psql -c 'create database travis_ci_test;' -U postgres
deploy:
  provider: heroku
  api_key:
    secure: T2I4aPP5VjjZmHyGeYn4eTjpzXHz5EfNBEZdxLgrTeoV9D01jVcowTKovOrJfP9vYLwEBcPjCBtkD7rlETA7e946Edcw3551RwaDSCpzhpGashesTK+8bnSO2OQzcw5HkxMu5PtAH3kQDw9/7grwwUU1fes2/4G6sluwno4q9Q0=
  app: travis-test
  run:
  - bundle exec rake db:migrate
  - restart
